{%extends 'base.html'%}
{%block content%}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>About Us</h2>
                <hr/>
            </div>
            <div class="col-md-12">
                <h2>For nonprofits:</h2>
                <ul>
                    <li>Find skilled volunteers from all around the world.</li>
                    <li>Get more tech savvy work done by people who know what they are doing.</li>
                </ul>
                <br/>
                <h2>For volunteers:</h2>
                <ul>
                    <li>Help amazing nonprofits all over the world. </li>
                    <li>Get easy community service hours.</li>
                    <li>Create change in the world we live in.</li>
                    <li>Meet new people from all four corners of the globe</li>
                    <li>Enhance your resume and gain work experience</li>
                </ul>
                
            <div class="col-md-12">
                <h2>So want to be part of a bigger picture? <a href="../../">Volunteer!</a></h2>
                <h2>Want to find amazingly generous people to help you? Just <a href="../add_needed/">ask!</a></h2>
            </div>
            </div>
        </div>
    </div>

{%endblock%}